body {
  font-family: 'Georgia', serif;
  background: #F2F2F2;
  margin: 0;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: #DDD;
  padding: 10px;
  position: sticky;
  top: 0;
}

#menu button {
  padding: 5px 10px;
}

#root {
  width: 70%;
  max-width: 36ch;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#root.reading {
  justify-content: flex-start;
}

@media (max-width: 600px) {
  #root {
    max-width: 20ch;
  }
}
#chapter-title {
  font-size: 18px;
  font-weight: bold;
  position: sticky;
  top: 0;
  background: #F2F2F2;
  width: 100%;
}
#verse {
  margin-top: 50px;
  word-break: break-word;
}
.book-item {
  margin: 5px 0;
  cursor: pointer;
}
.fade {
  transition: opacity 1s;
  opacity: 1;
}
.hidden {
  display: none;
}
