body {
  font-family: 'Georgia', serif;
  background: #F2F2F2;
  margin: 0;
}

#root {
  width: 70%;
  max-width: 36ch;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  #root {
    max-width: 20ch;
  }
}
#chapter-title {
  font-size: 18px;
  font-weight: bold;
}
#verse {
  margin-top: 50px;
}
.fade {
  transition: opacity 1s;
  opacity: 1;
}
.hidden {
  display: none;
}
